
<div class="row">
  <div class="col-4">
  </div>
  <div class="col-4">
    <h2 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">Services we provide</h2>
  </div>
  <div class="col-4">
  </div>
</div>
<div class = "row">
  <div class="col-1">
  </div>
  <div class="col-11">
    <div class="card service ">
      <img class="card-img-top image" style="max-height: 200px; max-width: 200px;" src="../../assets/ServiceIcons/Doctors.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Doctor</h4>
        <p class="card-text"></p>
        <a routerLink = "/home/doctor-category" class="btn btn-primary">Visit</a>
      </div>
    </div>

    <div class="card service image">
      <img class="card-img-top" style="max-height: 200px; max-width: 200px;" src="../../assets/ServiceIcons/Hospital.png" height="250px" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Hospital</h4>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary">Visit</a>
      </div>
    </div>

    <div class="card service image">
      <img class="card-img-top" style="max-height: 200px; max-width: 200px;" src="../../assets/ServiceIcons/Ambulance.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Ambulance</h4>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary">Visit</a>
      </div>
    </div>
    <div class="card service image" >
      <img class="card-img-top" style="max-height: 200px; max-width: 200px;" src="../../assets/ServiceIcons/DiagnostocCenter.jpg" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Diag. Center</h4>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary">Visit</a>
      </div>
    </div>
    <div class="card service image">
      <img class="card-img-top" style="max-height: 200px; max-width: 200px;" src="../../assets/ServiceIcons/Blood.png" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Blood</h4>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary">Visit</a>
      </div>
    </div>
    <div class="card service image" >
      <img class="card-img-top" style="max-height: 200px; max-width: 200px;" src="../../assets/ServiceIcons/internDoc.png" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Int. Doctor</h4>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary">Visit</a>
      </div>
    </div>

    <div class="card service image">
      <img class="card-img-top" style="max-height: 200px; max-width: 200px;" src="../../assets/ServiceIcons/report.png" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Report</h4>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary">Visit</a>
      </div>
    </div>

    <div class="card service image">
      <img class="card-img-top" style="max-height: 200px; max-width: 200px;" src="../../assets/ServiceIcons/blog.png" alt="Card image">
      <div class="card-body">
        <h4 class="card-title">Blog</h4>
        <p class="card-text"></p>
        <a href="#" class="btn btn-primary">Visit</a>
      </div>
    </div>
  </div>
  
</div>