 <!--  Cards -->
 <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="card-columns">
            <div class="card bg-primary shadow p-3 mb-5 rounded">
              <div class="card-body text-center" >
                <h1 class="card-text" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: whitesmoke; ">{{totalPatients}}</h1>
                <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: larger; font-size: 18px; color: whitesmoke;">Total Patients</p>
              </div>
            </div>
            <div class="card bg-info shadow p-3 mb-5 rounded">
              <div class="card-body text-center">
                <h1 class="card-text" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: whitesmoke;">{{totalDoctors}}</h1>
                <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: larger; font-size: 18px; color: whitesmoke;">Total Doctors</p>
              </div>
            </div>
            <div class="card bg-success shadow p-3 mb-5 rounded">
              <div class="card-body text-center">
                <h1 class="card-text" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: whitesmoke;">{{totalSupermen}}</h1>
                <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: larger; font-size: 18px; color: whitesmoke;">Total Supermen</p>
              </div>
            </div>
            <div class="card bg-danger shadow p-3 mb-5 rounded">
              <div class="card-body text-center">
                <h1 class="card-text" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: whitesmoke;">{{totalAppoinments}}</h1>
                <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: larger; font-size: 18px; color: whitesmoke;">Total Appoinments</p>
              </div>
            </div>
            <div class="card bg-primary shadow p-3 mb-5 rounded">
                <div class="card-body text-center">
                  <h1 class="card-text" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: whitesmoke;">0</h1>
                  <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: larger; font-size: 18px; color: whitesmoke;">Total Hospitals</p>
                </div>
              </div>
            
          </div>
    </div>
    <div class="col-sm-1"></div>
</div>

<!-- 2nd line cards -->

<div class="row" style="margin-top: 50px;">
  <div class="col-sm-1"></div>
  <div class="col-sm-6" >
      <div class="row" style="margin-bottom: 15px;">
          <div class="col-sm-3"></div>
          <div class="col-sm-7">
              <h2>24/7 Doctors</h2>
          </div>
          <div class="col-sm-2"></div>
      </div>
      <!-- Doctor List -->
      <div style="overflow-y: scroll; height: 480px;">
      <table class="table table-striped table-dark" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
          </tr>
        </thead>
        <tbody *ngFor= "let emmergencyDoc of emmergencyDocs; let i = index">
          <tr>
            <th scope="row">{{i+1}}</th>
            <td>{{emmergencyDoc.name}}</td>
            <td>{{emmergencyDoc.mobileNumber}}</td>
          </tr>
        </tbody>
      </table>
      </div>
  </div>
  <div class="col-sm-5">
    <div  class="row shadow p-3 mb-5 bg-white rounded" style="height: 480px; margin-top: 55px; margin-right: 25px; margin-left: 25px;">
      <!-- <div class="form-group" style="margin-left: 15px;"> -->
        <label for="exampleInputEmail1">Name</label>
        <input type="text" [(ngModel)] = "emmergencyDoc.name" class="form-control"  aria-describedby="emailHelp" placeholder="Enter name" required>
        <label for="exampleInputEmail1">Mobile number</label>
        <input type="text" [(ngModel)] = "emmergencyDoc.mobileNumber" class="form-control"  aria-describedby="emailHelp" placeholder="Enter Mobile Number" required>
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" [(ngModel)] = "emmergencyDoc.email" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email">
        <label for="exampleInputEmail1">Password</label>
        <input type="password" [(ngModel)] = "emmergencyDoc.password" class="form-control"  aria-describedby="emailHelp" placeholder="Enter Password" required>
        <button type="button" (click)="saveDoc()" class="btn btn-outline-success" style="margin-left: 55px;">Register 24/7 Doctors</button>
      <!-- </div> -->
      <p style="color: chocolate;">{{message}}</p>
    </div>
    
  </div>
</div>