 <!--  Cards -->
 <div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <div class="card-columns">
            <div class="card bg-primary shadow p-3 mb-5 rounded">
              <div class="card-body text-center" >
                <h1 class="card-text" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: whitesmoke; ">{{totalPatients}}</h1>
                <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: larger; font-size: 18px; color: whitesmoke;">Total Patients</p>
              </div>
            </div>
            <div class="card bg-info shadow p-3 mb-5 rounded">
              <div class="card-body text-center">
                <h1 class="card-text" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: whitesmoke;">{{totalDoctors}}</h1>
                <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: larger; font-size: 18px; color: whitesmoke;">Total Doctors</p>
              </div>
            </div>
            <div class="card bg-success shadow p-3 mb-5 rounded">
              <div class="card-body text-center">
                <h1 class="card-text" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: whitesmoke;">{{totalSupermen}}</h1>
                <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: larger; font-size: 18px; color: whitesmoke;">Total Supermen</p>
              </div>
            </div>
            <div class="card bg-danger shadow p-3 mb-5 rounded">
              <div class="card-body text-center">
                <h1 class="card-text" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: whitesmoke;">{{totalAppoinments}}</h1>
                <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: larger; font-size: 18px; color: whitesmoke;">Total Appoinments</p>
              </div>
            </div>
            <div class="card bg-primary shadow p-3 mb-5 rounded">
                <div class="card-body text-center">
                  <h1 class="card-text" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: whitesmoke;">0</h1>
                  <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: larger; font-size: 18px; color: whitesmoke;">Total Hospitals</p>
                </div>
              </div>
              <div class="card bg-primary shadow p-3 mb-5 rounded">
                <div class="card-body text-center">
                  <h1 class="card-text" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: whitesmoke;">{{totalIncome}}</h1>
                  <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: larger; font-size: 18px; color: whitesmoke;">Total Income</p>
                </div>
              </div>
              <div class="card bg-primary shadow p-3 mb-5 rounded">
                <div class="card-body text-center">
                  <h1 class="card-text" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: whitesmoke;">{{totalPaidAppoinments}}</h1>
                  <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: larger; font-size: 18px; color: whitesmoke;">Paid Appoinments</p>
                </div>
              </div>
              <div class="card bg-primary shadow p-3 mb-5 rounded">
                <div class="card-body text-center">
                  <h1 class="card-text" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: whitesmoke;">{{totalUnpaidAppoinments}}</h1>
                  <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: larger; font-size: 18px; color: whitesmoke;">Unpaid Appoinments</p>
                </div>
              </div>
              <div class="card bg-danger shadow p-3 mb-5 rounded">
                <div class="card-body text-center">
                  <h1 class="card-text" style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: whitesmoke;">{{totalDiagnostics}}</h1>
                  <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: larger; font-size: 18px; color: whitesmoke;">Total Diag Centers</p>
                </div>
              </div>
          </div>
    </div>
    <div class="col-sm-1"></div>
</div>

<!-- 2nd line cards -->

<div class="row" style="margin-top: 50px;">
  <div class="col-sm-1"></div>
  <div class="col-sm-6" >
      <div class="row" style="margin-bottom: 15px;">
          <div class="col-sm-3"></div>
          <div class="col-sm-7">
              <h2>24/7 Doctors</h2>
          </div>
          <div class="col-sm-2"></div>
      </div>
      <!-- Doctor List -->
      <div style="overflow-y: scroll; height: 480px;">
      <table class="table table-striped table-dark" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
          </tr>
        </thead>
        <tbody *ngFor= "let emmergencyDoc of emmergencyDocs; let i = index">
          <tr>
            <th scope="row">{{i+1}}</th>
            <td>{{emmergencyDoc.name}}</td>
            <td>{{emmergencyDoc.mobileNumber}}</td>
          </tr>
        </tbody>
      </table>
      </div>
  </div>
  <div class="col-sm-5">
    <div  class="row shadow p-3 mb-5 bg-white rounded" style="height: 480px; margin-top: 55px; margin-right: 25px; margin-left: 25px;">
      <!-- <div class="form-group" style="margin-left: 15px;"> -->
        <label for="exampleInputEmail1">Name</label>
        <input type="text" [(ngModel)] = "emmergencyDoc.name" class="form-control"  aria-describedby="emailHelp" placeholder="Enter name" required>
        <label for="exampleInputEmail1">Mobile number</label>
        <input type="text" [(ngModel)] = "emmergencyDoc.mobileNumber" class="form-control"  aria-describedby="emailHelp" placeholder="Enter Mobile Number" required>
        <label for="exampleInputEmail1">Email address</label>
        <input type="email" [(ngModel)] = "emmergencyDoc.email" class="form-control"  aria-describedby="emailHelp" placeholder="Enter email">
        <label for="exampleInputEmail1">Password</label>
        <input type="password" [(ngModel)] = "emmergencyDoc.password" class="form-control"  aria-describedby="emailHelp" placeholder="Enter Password" required>
        <button type="button" (click)="saveDoc()" class="btn btn-outline-success" style="margin-left: 55px;">Register 24/7 Doctors</button>
      <!-- </div> -->
      <p style="color: chocolate;">{{message}}</p>
    </div>
  </div>
</div>

<!-- 3rd line cards -->

<div class="row" style="margin-bottom: 25px;">
  <div class="col-sm-4"></div>
  <div class="col-sm-6">
      <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: xx-large; font-weight: bold;">Commisions</h1>
  </div>
  <div class="col-sm-2"></div>
</div>

<div class="row" style="margin-top: 15px;">
  <div class="col-sm-2"></div>
  <div class="col-sm-4">
    <div  class="row shadow p-3 mb-5 bg-white rounded" style="height: 565px; margin-top: 55px;">
      <!-- <div class="form-group" style="margin-left: 15px;"> -->
        <label for="exampleInputEmail1">Agent per patient</label>
        <input type="number" [(ngModel)] = "commision.perPatient" class="form-control"  aria-describedby="emailHelp" placeholder="0" required>
        <label for="exampleInputEmail1">Agent per doctor</label>
        <input type="number" [(ngModel)] = "commision.perDoctor" class="form-control"  aria-describedby="emailHelp" placeholder="0" required>
        <label for="exampleInputEmail1">Agent per appoinment (%)</label>
        <input type="number" [(ngModel)] = "commision.perAppoinment" class="form-control"  aria-describedby="emailHelp" placeholder="0">
        <label for="exampleInputEmail1">Admin per Doctor's 1st time fee</label>
        <input type="number" [(ngModel)] = "commision.adminPerFirstAppoinment" class="form-control"  aria-describedby="emailHelp" placeholder="0">
        <label for="exampleInputEmail1">Admin per Doctor's 2nd time fee</label>
        <input type="number" [(ngModel)] = "commision.adminPerSecondAppoinment" class="form-control"  aria-describedby="emailHelp" placeholder="0">
        <label for="exampleInputEmail1">Admin per Diagnostic test booking(%)</label>
        <input type="number" [(ngModel)] = "commision.adminPerDiagnosticCenterTest" class="form-control"  aria-describedby="emailHelp" placeholder="0">
        <label for="exampleInputEmail1">Agent per Diagnostic test (%)</label>
        <input type="number" [(ngModel)] = "commision.agentPerDiagnosticCanterTest" class="form-control"  aria-describedby="emailHelp" placeholder="0">
        <button type="button" (click)="saveCommision()" class="btn btn-outline-success" style="margin-left: 70px;">Save Commisions</button>

        <p style="color: chocolate;">{{commisionMessage}}</p>
      <!-- </div> -->
      <p style="color: chocolate;">{{message}}</p>
    </div>
  </div>
  <div class="col-sm-1"></div>
  <div class="col-sm-3" style="margin-top: 53px;">
    <ul class="list-group">
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Superman per patient
        <span class="badge badge-primary badge-pill">{{commision.perPatient}} Taka</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Superman per doctor
        <span class="badge badge-primary badge-pill">{{commision.perDoctor}} Taka</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Superman per appoinment (%)
        <span class="badge badge-primary badge-pill">{{commision.perAppoinment}} %</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Admin per Doctor's 1st time fee
        <span class="badge badge-primary badge-pill">{{commision.adminPerFirstAppoinment}} Taka</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Admin per Doctor's 2nd time fee
        <span class="badge badge-primary badge-pill">{{commision.adminPerSecondAppoinment}} Taka</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Admin per Diagnostic test booking(%)
        <span class="badge badge-primary badge-pill">{{commision.adminPerDiagnosticCenterTest}} Taka</span>
      </li>
      <li class="list-group-item d-flex justify-content-between align-items-center">
        Agent per diagnostic test (%)
        <span class="badge badge-primary badge-pill">{{commision.agentPerDiagnosticCanterTest}} %</span>
      </li>
    </ul>
  </div>
  <div class="col-sm-2"></div>
</div>

<!--4th line cards-->

<div class="row" style="margin-bottom: 25px;">
  <div class="col-sm-3"></div>
  <div class="col-sm-7">
      <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: xx-large; font-weight: bold;">Manipulate Top Doctors</h1>
  </div>
  <div class="col-sm-2"></div>
</div>

<div class="row" style="margin-top: 50px;">
    <div class="col-sm-2"></div>
    <div class="col-sm-6">
      <div style="overflow-y: scroll; height: 480px;">
        <table class="table table-striped table-dark" >
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Name</th>
              <th scope="col">Phone Number</th>
            </tr>
          </thead>
          <tbody *ngFor= "let mani of manipulatedDoctors; let i = index">
            <tr>
              <th scope="row">{{i+1}}</th>
              <td>{{mani.doctor.name}}</td>
              <td>{{mani.doctor.mobileNumber}}</td>
              <td>
                <button type="button" (click)="clearManipulatedDoctor(mani.id)" class="btn btn-link">remove</button>
              </td>
            </tr>
          </tbody>
        </table>
        </div>
    </div>
    <div class="col-sm-4">
      <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-8">
          <p><strong>Select Doctor to add on list</strong></p>
          <div class="btn-group" style="margin-bottom: 25px;">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Make top doctor
            </button>
            <div class="dropdown-menu">
              <div *ngFor= "let doctor of doctors; let i = index">
                 <a class="dropdown-item" (click)="selectDoctor(doctor.userId, doctor.name)" href="javascript:void(0)">{{doctor.name}}</a>
              </div>
            </div>
        </div>
        <p style="color: gray;">{{seletedDoctor.name}}</p>
        <button type="button" (click)="saveManipulatedDoctor()" class="btn btn-success">Manipulate</button>
    </div>
    <div class="col-sm-2"></div>
</div>
</div>
</div>


<!--5th line cards-->

<div class="row" style="margin-bottom: 25px;">
  <div class="col-sm-3"></div>
  <div class="col-sm-7">
      <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: xx-large; font-weight: bold;">Home Page Doctors</h1>
  </div>
  <div class="col-sm-2"></div>
</div>

<div class="row" style="margin-top: 50px;">
  <div class="col-sm-2"></div>
  <div class="col-sm-6">
    <div style="overflow-y: scroll; height: 280px;">
      <table class="table table-striped table-dark" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
          </tr>
        </thead>
        <tbody *ngFor= "let mani of manipulatedHomePageDoctors; let i = index">
          <tr>
            <th scope="row">{{i+1}}</th>
            <td>{{mani.doctor.name}}</td>
            <td>{{mani.doctor.mobileNumber}}</td>
            <td>
              <button type="button" (click)="clearManipulatedHomePageDoctor(mani.id)" class="btn btn-link">remove</button>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
  </div>
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <p><strong>Select Doctor to add on list</strong></p>
        <div class="btn-group" style="margin-bottom: 25px;">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Make top doctor
          </button>
          <div class="dropdown-menu">
            <div *ngFor= "let doctor of doctors; let i = index">
               <a class="dropdown-item" (click)="selectDoctorForHomePage(doctor.userId, doctor.name)" href="javascript:void(0)">{{doctor.name}}</a>
            </div>
          </div>
      </div>
      <p style="color: gray;">{{seletedHomePageDoctor.name}}</p>
      <button type="button" (click)="saveManipulatedHomePageDoctor()" class="btn btn-success">Manipulate</button>
  </div>
  <div class="col-sm-2"></div>
</div>
</div>
</div>

<!--6th line cards-->

<div class="row" style="margin-bottom: 25px;">
  <div class="col-sm-3"></div>
  <div class="col-sm-7">
      <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: xx-large; font-weight: bold;">Top Diagnostics</h1>
  </div>
  <div class="col-sm-2"></div>
</div>

<div class="row" style="margin-top: 50px;">
  <div class="col-sm-2"></div>
  <div class="col-sm-6">
    <div style="overflow-y: scroll; height: 280px;">
      <table class="table table-striped table-dark" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
          </tr>
        </thead>
        <tbody *ngFor= "let mani of manipulatedDiagnostics; let i = index">
          <tr>
            <th scope="row">{{i+1}}</th>
            <td>{{mani.diagnostic.name}}</td>
            <td>{{mani.diagnostic.mobileNumber}}</td>
            <td>
              <button type="button" (click)="clearManipulatedDiagnostics(mani.id)" class="btn btn-link">remove</button>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
  </div>
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <p><strong>Select Diagnostic to add on list</strong></p>
        <div class="btn-group" style="margin-bottom: 25px;">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Make top diagnostics
          </button>
          <div class="dropdown-menu">
            <div *ngFor= "let diagnostic of diagnostics; let i = index">
               <a class="dropdown-item" (click)="selectDiagnostic(diagnostic.userId, diagnostic.name)" href="javascript:void(0)">{{diagnostic.name}}</a>
            </div>
          </div>
      </div>
      <p style="color: gray;">{{selectedDiagnostic.name}}</p>
      <button type="button" (click)="saveManipulatedDiagnostic()" class="btn btn-success">Manipulate</button>
  </div>
  <div class="col-sm-2"></div>
</div>
</div>
</div>

<!--7th line cards-->

<div class="row" style="margin-bottom: 25px;">
  <div class="col-sm-2"></div>
  <div class="col-sm-8">
      <h1 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: xx-large; font-weight: bold; float: left;">Recommended Diagnostics</h1>
  </div>
  <div class="col-sm-2"></div>
</div>

<div class="row" style="margin-top: 50px;">
  <div class="col-sm-2"></div>
  <div class="col-sm-6">
    <div style="overflow-y: scroll; height: 280px;">
      <table class="table table-striped table-dark" >
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Phone Number</th>
          </tr>
        </thead>
        <tbody *ngFor= "let mani of recoDiagnostics; let i = index">
          <tr>
            <th scope="row">{{i+1}}</th>
            <td>{{mani.diagnostic.name}}</td>
            <td>{{mani.diagnostic.mobileNumber}}</td>
            <td>
              <button type="button" (click)="clearRecoDiagnostics(mani.id)" class="btn btn-link">remove</button>
            </td>
          </tr>
        </tbody>
      </table>
      </div>
  </div>
  <div class="col-sm-4">
    <div class="row">
      <div class="col-sm-2"></div>
      <div class="col-sm-8">
        <p><strong>Select Diagnostic to add on list</strong></p>
        <div class="btn-group" style="margin-bottom: 25px;">
          <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Make top diagnostics
          </button>
          <div class="dropdown-menu">
            <div *ngFor= "let diagnostic of diagnostics; let i = index">
               <a class="dropdown-item" (click)="selectRecoDiagnostic(diagnostic.userId, diagnostic.name)" href="javascript:void(0)">{{diagnostic.name}}</a>
            </div>
          </div>
      </div>
      <p style="color: gray;">{{selectedRecoDiagnostic.name}}</p>
      <button type="button" (click)="saveRecoDiagnostic()" class="btn btn-success">Manipulate</button>
  </div>
  <div class="col-sm-2"></div>
</div>
</div>
</div>