  <div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-lg p-3 mb-5 bg-white rounded">
      <img src="../../assets/logo.png" height="50px" width="50px">
      <!-- <button class="btn btn-light dropdown-toggle"  type="button" data-toggle="dropdown">Dacicil
        <span class="caret"></span></button> -->
    
      <!--   <div class="dropdown-menu" style="height: 100%; width: 270px; margin-top: 17px;">
          <table class="table table-dark" style="margin-top: -10px;">
            
             <tr>
               <td style="height: 150px; width: 300px;">
                  <img *ngIf="!imageUrl" src = "../../assets/blank_image.png" style=" width: 100px;
                  height: 100px; border-radius: 50%; position: relative; left: 60px; margin-top: 20px;" alt="Avatar" class="img-fluid" id = "profilePicture">
                  <img *ngIf="imageUrl" [src] = "imageUrl" style=" width: 100px;
                  height: 100px; border-radius: 50%; position: relative; left: 60px; margin-top: 20px;" alt="Avatar" class="img-fluid" id = "profilePicture">
                  <div class="row">
                    <div class="col-sm-2">
                    </div>
                    <div class="col-sm-8">
                      <div style="margin-top: 15px;">
                        <p style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;font-size: large;"><strong>{{user.name}}</strong></p>
                        
                      </div>
                    </div> 
                    <div class="col-sm-2">
                    </div>
                  </div>
              </td>
            </tr>     
        <tr>
          <td style="height: 350px; width: 300px;">
            <a (click) = "routeProfile()">Edit Account</a>
              <a (click) = "seeDashboard()">Dashboard</a>
            <a data-toggle="modal" data-target="#exampleModal">Reset Password</a>
            <div style="margin-left: 55px; margin-top: 30px;">
              <button type="button" (click) = "logout()" class="btn btn-light">Logout</button>
            </div>  
          </td>
        </tr>      
</table>
</div> -->
        <!-- <span class="navbar-text"  style="position: relative; left: 950px;">
            <strong *ngIf = "user">{{user.name}}</strong>        
        </span> -->
        <!-- <ul class="navbar-nav ml-auto">
          <li>Hello</li>
        </ul>
        <ul class="nav navbar-nav">
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Hello <span class="glyphicon glyphicon-user pull-right">Mr Admin</span></a>
            <ul class="dropdown-menu" style="width: 100%;">
              <li><a href="#">Account Settings <span class="glyphicon glyphicon-cog pull-right"></span></a></li>
              <li class="divider"></li>
              <li><a href="#">User stats <span class="glyphicon glyphicon-stats pull-right"></span></a></li>
              <li class="divider"></li>
              <li><a href="#">Messages <span class="badge pull-right"> 42 </span></a></li>
              <li class="divider"></li>
              <li><a href="#">Favourites Snippets <span class="glyphicon glyphicon-heart pull-right"></span></a></li>
              <li class="divider"></li>
              <li><a href="#">Sign Out <span class="glyphicon glyphicon-log-out pull-right"></span></a></li>
            </ul>
          </li>
        </ul> -->


        <div class="ml-auto">
          <div style="display: inline-block;">
            <div class="row">
              <div class="col-12">
                <input class="form-control mr-sm-2 cSearch" type="search" placeholder="Search" aria-label="Search" autocomplete="off" (input)="onSearchChange($event)">
              </div>
            </div>  
          </div>

         <!-- Profile -->
          <div class="dropdown pmd-dropdown pmd-user-info" style="display: inline-block;">
          <a href="javascript:void(0);" class="btn-user dropdown-toggle media align-items-center" data-toggle="dropdown" data-sidebar="true" aria-expanded="false">
              <img *ngIf="!imageUrl" class="mr-2" class= "picture" src="../../assets/blank_image.png" alt="avatar" style="display: inline-block;">
              <img *ngIf="imageUrl" class="mr-2" class= "picture" [src] = "imageUrl" alt="avatar" style="display: inline-block;">
              <div class="media-body" style="display: inline-block; margin-left: 10px;">
                  <span style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">{{user.name}}</span>
              </div>
              <i class="material-icons md-light ml-2 pmd-sm" style="display: inline-block;"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
              <a class="dropdown-item" (click) = "routeProfile()" href="javascript:void(0);">Edit Profile</a>
              <a class="dropdown-item" (click) = "seeDashboard()" href="javascript:void(0);">Dashboard</a>
              <a class="dropdown-item" data-toggle="modal" href="javascript:void(0);" data-target="#exampleModal">Change Password</a>
              <a class="dropdown-item" (click) = "logout()" href="javascript:void(0);">Logout</a>
          </ul>
          </div>

          <!-- Notifications -->
         <!--  <a href="#" class="dropdown-toggle media align-items-center" data-toggle="dropdown" data-sidebar="true" aria-expanded="false" style="display: inline-block; margin-right: 15px;"><i class="fa fa-bell" style="font-size:24px"></i><span style="margin-left: 5px;">notifications</span></a> -->
         <div class="dropdown" style="display: inline-block;">
          <a href="javascript:void(0);" data-toggle="dropdown" data-sidebar="true" aria-expanded="false"><i class="fa fa-bell" style="font-size:20px; color: skyblue;"></i><span style="margin-left: 5px;"></span></a>
          <ul class="dropdown-menu dropdown-menu-right notification">    
            <div *ngFor = "let notification of notifications" >
              <div class="row" style="margin-top: 5px;">
                <div class="col-sm-2">
                  <img class="picture" src="../../assets/Logo-Outline.png" height="40px" width="40px" style="margin-left: 15px;">
                </div>
                <div class="col-sm-9">
                  <p style="font-size: smaller;">{{notification.notification}}</p>
                  <p style="font-size: smaller; float: right;">{{notification.time | date:'medium'}}</p>
                </div>
                <div class="col-sm-1"></div>
            </div>  
            </div>   
        </ul>
        </div>


      </div>

        
    </nav>

    <!-- Search Results -->
    <div class="row">
        <div class="col-sm-3"></div>
        <div class="col-sm-6">
          <div *ngFor= "let user of users">
            <a href="javascript:void(0)" (click)="userDetails(user.userId)">
              <div class="shadow-sm p-3 mb-5 bg-light rounded" style="height: 95px;">
                <h5><strong>{{user.name}}</strong></h5>
                <p style="font-size: smaller;">{{user.mobileNumber}}</p>
                <p style="font-size: smaller; position: relative; bottom: 15px;">{{user.email}}</p>
                <!-- <p>{{user.roles.name}}</p>   -->     
            </div>
            </a>
          </div>
        </div>
        <div class="col-sm-3"></div>
    </div>
 
  </div>

  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Change Password</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-sm-2">
            </div>
            <div class="col-sm-8">
                <div>
                  <label for="exampleInputEmail1">Previous Password</label>
                  <input type="password" [(ngModel)] = "previousPass"  class="form-control"  aria-describedby="emailHelp" placeholder="Enter Password" required>
                  <label for="exampleInputEmail1">New Password</label>
                  <input type="password" [(ngModel)] = "newPass" class="form-control"  aria-describedby="emailHelp" placeholder="Enter Password" required>
                  <label for="exampleInputEmail1">Retype new Password</label>
                  <input type="password" [(ngModel)] = "newPassAgain" class="form-control"  aria-describedby="emailHelp" placeholder="Enter Password" required>
                </div>
                <p style="color: chocolate;">{{message}}</p>
                
            </div>
            <div class="col-sm-2">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="changePassword()">Change</button>
        </div>
      </div>
    </div>
  </div>