<div class="row" style="margin-top: 45px;">
    <!--<div class="col-sm-1"></div>-->
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Test Name</th>
                <th scope="col">Test Cost</th>
                <th scope="col">User Discount</th>
              </tr>
            </thead>
            <tbody *ngFor= "let test of tests; let i = index">
              <tr>
                <th scope="row">{{i+1}}</th>
                <td>{{test[0]}}</td>
                <td>{{test[1]}}</td>
                <td>{{test[2]}} %</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col-sm-3"></div>
</div>
