<router-outlet name = "nav"></router-outlet>
<div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-6">

        <div class="row" style="margin-bottom: 35px;">
            <div class="col-sm-3"></div>
            <div class="col-sm-6">
                <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: larger;">Doctor name: {{doctor.name}}</p>
                <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: larger;">Chamber: {{chamber.name}}</p>
            </div>
            <div class="col-sm-3"></div>
        </div>

        <div class="card shadow p-3 mb-5 bg-white rounded" *ngFor= "let slot of appoinmentSlots">
            <div class="row">
                <div class="col-sm-4">
                </div>
                <div class="col-sm-6">
                    <div>
                        <h3>{{slot.name}}</h3>
                        <p>Start Time : {{slot.startTime}}</p>
                        <p>End Time   : {{slot.endTime}}</p>
                        <p>Fees       : {{slot.fees}}</p>
                        <p>Max Appoinment : {{slot.maximumNumberOfAppoinment}}</p>
                        <button *ngIf = "canTakeAppoinment" type="button" (click) = "takeAppoinment(slot.id, slot.maximumNumberOfAppoinment)" class="btn btn-link">Take Appoinment</button> 
                        <button *ngIf = "canSeePatients" type="button" (click) = "seeAppoinments(slot.id)" class="btn btn-link">See Patients</button>  
                        <p style="color: chocolate;">{{message}}</p>  
                    </div>
                </div>
                <div class="col-sm-2">
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-4"></div>
</div>
