<div class="row">
    <div class="col-4">
        <div>
            <img src ="../../assets/blank_image.png"  alt="Avatar" class="img-fluid picture" id = "profilePicture">
         </div>
    </div>
    <div class="col-6">
        <div style="margin-top: 50px;">
            <h2 style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-weight: bolder;">Dr. Ashik Muhammad Shakil</h2>
            <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">mail : ashik@gmail.com</p>
            <p style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;">number: 01720024944</p>
        </div>
    </div>
    <div class="col-2"></div>
</div>
