<div class="row">
  <div class="col-sm-6"></div>
  <div class="col-sm-2">
    <div class="btn-group">
      <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Appoinments of
      </button>
      <div class="dropdown-menu">
        <div *ngFor= "let doctor of doctors; let i = index">
          <a class="dropdown-item" (click)="getDoctorsAppoinments(doctor.userId)" href="javascript:void(0)">{{doctor.name}}</a>
        </div>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="btn-group">
      <button type="button" class="btn btn-success dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Appoinments with
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="getCompleteAppoinments()" href="javascript:void(0)">Payment Complete</a>
        <a class="dropdown-item" (click)="getPendingAppoinments()" href="javascript:void(0)">Payement Pending</a>
        <a class="dropdown-item" (click)="getFullyCompleteAppoinments()" href="javascript:void(0)">Complete</a>
      </div>
    </div>
  </div>
  <div class="col-sm-2">
    <div class="btn-group">
      <button type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Appoinments on
      </button>
      <div class="dropdown-menu">
        <a class="dropdown-item" (click)="getTodaysAppoinments()" href="javascript:void(0)">Today</a>
        <a class="dropdown-item" (click)="getWeeksAppoinments()" href="javascript:void(0)">Last Week</a>
        <a class="dropdown-item" (click)="getMonthsAppoinments()" href="javascript:void(0)">Last Month</a>
      </div>
    </div>
  </div>
</div>
<div class="row" style="margin-top: 20px;">
    <div class="col-sm-1"></div>
    <div class="col-sm-11">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Patient</th>
                <th scope="col">Doctor</th>
                <th scope="col">Time</th>
                <th scope="col">Payment Status</th>
                <th scope="col">Doctor Fee</th>
                <th scope="col">Agent Fee</th>
                <th scope="col">Dacicil Fee</th>
              </tr>
            </thead>
            <tbody *ngFor= "let appoinment of appoinments; let i = index">
              <tr>
                <th scope="row" style="font-size: small;">{{i+1}}</th>
                <td style="font-size: small;">{{appoinment.patientName}}</td>
                <td style="font-size: small;">{{appoinment.doctorName}}</td>
                <td style="font-size: small;">{{appoinment.time | date:'medium'}}</td>
                <td style="font-size: small;">{{appoinment.status}}</td>
                <td style="font-size: small;">{{appoinment.fee}}</td>
                <td style="font-size: small;">{{appoinment.supermanFee}}</td>
                <td style="font-size: small;">{{appoinment.adminFee}}</td>
                <td><button type="button" data-toggle="modal" data-target="#completeAppoinment" class="btn btn-outline-success" (click)="selectForComplete(appoinment.id)">complete</button></td>
                <td><button type="button" data-toggle="modal" data-target="#deleteAppoinment" class="btn btn-outline-danger" (click)="selectForDelete(appoinment.id)">cancel</button></td>
              </tr>
            </tbody>
          </table>
    </div>
    <!-- <div class="col-sm-1"></div> -->

    <!--COmplete Appoinment modal -->
    <div class="modal fade" id="completeAppoinment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Complete Appoinment</h5>
            <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-2">
              </div>
              <div class="col-sm-8">
                  <p><strong>Are you sure you want to complete this appoinment?</strong></p>
                  <p style="color: chocolate;">{{message}}</p>
                  
              </div>
              <div class="col-sm-2">
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="close()" data-dismiss="modal">Close</button>
            <button type="button" (click)="completeAppoinment()" class="btn btn-primary">Complete</button>
          </div>
        </div>
      </div>
    </div>

      <!--Delete Appoinment modal -->
      <div class="modal fade" id="deleteAppoinment" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Cancel Appoinment</h5>
              <button type="button" (click)="close()" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="col-sm-2">
                </div>
                <div class="col-sm-8">
                    <p><strong>Are you sure you want to cancel this appoinment?</strong></p>
                    <p style="color: chocolate;">{{message}}</p>
                    
                </div>
                <div class="col-sm-2">
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" (click)="close()" data-dismiss="modal">Close</button>
              <button type="button" (click)="deleteAppoinment()" class="btn btn-primary">Cancel</button>
            </div>
          </div>
        </div>
      </div>
</div>


