<div class="row">
    <div class="col-1"></div>
    <div class="col-10">
        <h3>{{prescription.patient.name}}</h3>
        <div class="form-group">
            <label for="formGroupExampleInput">Medicines</label>
            <div class="row">
                <div class="col-sm-8">
                    <input type="text" [(ngModel)]= "medicineName" class="form-control" list="medicine">
                    <datalist id="medicine">
                        <option *ngFor= "let medicine of medicineList"  [value]="medicine.medicineName">{{medicine.medicineName}}</option>
                    </datalist>
                </div>
                <div class="col-sm-4">
                    <button type="button" (click)="add()" class="btn btn-success">Add</button>
                </div>
            </div>
           <p><strong *ngFor= "let medicinee of assignedMedicineList"  [value]="medicinee.medicineName">{{medicinee.medicineName}} , </strong></p>
        </div>

        <button type="button" (click)="prescribeMedicine()" class="btn btn-success">Next</button>

    </div>
    <div class="col-1"></div>
</div>




