<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-10">
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Phone Number</th>
                <th scope="col">Email</th>
              </tr>
            </thead>
            <tbody *ngFor= "let patient of patients ; let i = index">
              <tr>
                <th scope="row">{{i+1}}</th>
                <td>{{patient.name}}</td>
                <td>{{patient.mobileNumber}}</td>
                <td>{{patient.email}}</td>
              </tr>
            </tbody>
          </table>
    </div>
    <div class="col-sm-1"></div>
</div>
